@model AustinWeinman.Models.Lease

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-md-12">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-4 col-md-offset-8">
                        <input type="button" value="Back to List" class="linkbtn  pull-right" onclick="goToPrevious('@ViewBag.ReturnUrl')" />
                    </div>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Project Name:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ProjectName, new { @class = "form-control displayname" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Start Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Monthly Lease:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.MonthlyLease, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Annual Lease:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.AnnulaLease, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Tenant Due Dilligence Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TenantDueDilligenceDueDate, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-4">Rent Commencement Date</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.RentCommencementDate, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Notes:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Tenant Name:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TenantName, new { @class = "form-control displayname" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">End Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Turn Over Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TurnOverDate, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }



    </div>
</div>
