@model AustinWeinman.Models.Agreementofsale

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-md-12">


        @using (Html.BeginForm("Edit", "Agreementofsales", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-5 col-md-offset-7">
                       <input type="button" value="Back to List" class="linkbtn  pull-right" onclick="goToPrevious('@ViewBag.ReturnUrl')" />
                       <label class="control-label col-md-4">
                           Notifications:
                       </label>                       
                        @Html.CheckBoxFor(model => model.Notification)
                    </div>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Project Name:
                            </label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.ProjectsName, new { @class = "form-control displayname" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Length of Initial DD Period:
                                 
                            </label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.LengthofInitialDDPeriod, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Length of Extension:
                            </label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Lengthofextention, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Number of Extension:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Numberofextension, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension Cost</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extensioncost, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> Purchase Price:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> Seller Name:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.SellersName, new { @class = "form-control displayname" })
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Escrow Company Name:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.EscrowCompanyName, new { @class = "form-control displayname" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Title Company Name:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.TitleCompanyName, new { @class = "form-control displayname" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> AOS Effective Date:</label>
                            <div class="col-md-8">

                                @Html.DisplayFor(model => model.AOSEffectiveDate, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "form-control date displayname" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Purchase Date</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control date displayname" } })
                            </div>
                        </div>




                        @*<div class="form-group">
                                @Html.LabelFor(model => model.NextPayment, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.NextPayment, new { htmlAttributes = new { @class = "form-control date" } })
                                    @Html.ValidationMessageFor(model => model.NextPayment, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                    </div>


                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-4"> Extension 1 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension1DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 2 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension2DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> Extension 3 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension3DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 4 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension4DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> Extension 5 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension5DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 6 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension6DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 7 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension7DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 8 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension8DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 9 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension9DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 10 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension10DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Extension 11 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension11DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> Extension 12 Due Date:</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Extension12DueDate, new { htmlAttributes = new { @class = "form-control date" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Attachment:</label>
                            <div class="col-md-8">
                                <input type="file" name="uploads" multiple />
                            </div>
                        </div>

                    </div>
                </div>
            </div>




        }



    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="upload-file">Uploaded Files</div>
        <div id="dataContainer">
            @Html.Action("GetUploadedFiles", new { ID = Model.ID })
        </div>

    </div>
</div>
